{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

    <div class="flex flex-col">
        <h1 class="text-2xl">Sign up</h1>

        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-4 px-8 bg-indigo-800 text-white">Sign up</button>
        </form>

        <h2 class="py-4 text-xl">Already have an account?</h2>

        <a href="{% url 'login' %}" class="text-l">Click here to log in</a>
    </div>

{% endblock %}