{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="CShop is the best Beauty eCommerce Website.">
<meta name="author" content="PTA">
<meta property="og:title" content="CShop | About">
<meta property="og:description" content="CShop is the best Beauty eCommerce Website.">
<meta property="og:type" content="article">
<meta property="og:url" content="http://cshop.com/about/">
{% endblock %}

{% block content %}
    <h1>CShop is the best Beauty eCommerce Website.</h1>
{% endblock %}