{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name="description" content="CShop is the best Beauty eCommerce Website.">
<meta name="author" content="PTA">
<meta property="og:title" content="CShop | About">
<meta property="og:description" content="CShop is the best Beauty eCommerce Website.">
<meta property="og:type" content="article">
<meta property="og:url" content="http://cshop.com/about/">
{% endblock %}

{% block content %}
    <h1>Welcome to our beauty ecommerce website, where you'll find a wide range of high-quality beauty products to help you look and feel your best. Whether you're in need of skincare, makeup, haircare, or fragrance, we've got you covered with a carefully curated selection of products from top brands.</h1>
{% endblock %}